<body class="home_body">
    <header class="header">
        <div class="lotus_menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a><img class="image_logo" src="https://upload.wikimedia.org/wikipedia/pt/c/c2/Lotus_logo_pt.png"></a>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                    <!-- Conteúdo do navbar -->
                </nav>
            </nav>

        </div>
    </header>
</body>